*{
    margin: 0px;
    padding: 0px;

}

/* nav and banner section  */

.navbar{
    color: white;
    background-color: #424141;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    padding: 20px;
}

.logo-img{
    width: 150px;
}

.menus{
    display: flex;
    font-size: 18px;
    
}
.menu{
    margin-right: 20px;
    cursor: pointer;
}
.menu:hover{
    color: #FF0000;
}

/* banner section  */

.banner-container{
    height: 570px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/background.png),linear-gradient(45deg,#121212,#232323);
}

.banner-title{
    font-size: 50px;
}
.banner-des{
    font-size: 18px;
    margin: 20px 0px;
    font-weight: 600;
}
.banner-btn{
    color: white;
    background: #FF0000;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.banner-img{
    width: 400px;
}